@import "../../../../scss/variables";

.Profile {
    $root: &;
    padding: 0 18px;

    @media (min-width: 992px) {
        padding: 0 70px;
    }

    &__badges-ratings {
        padding: 18px;
        margin-bottom: 40px;

        @media (min-width: 992px) {
            padding: 0;
            padding-top: 21px;
        }
    }

    &__experience {
        margin-bottom: 50px;
    }
}
