.ChatWidget {
    &.cta-widget {
        background-color: transparent;
        box-shadow: none;
    }

    .icon-chat-bottom {
        bottom: 12px;
        right: 12px;
        width: 60px;
        height: 60px;
        padding: 13px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }
}
