.JumpToTop {
    position: fixed;
    z-index: 100000000;
    width: 40px;
    right: 35px;
    bottom: 100px;
    cursor: pointer;

    @media (min-width: 992px) {
        bottom: 135px;
        right: 35px;
    }

    &__img {
        max-width: 100%;
    }
}

