@import "../../assets/scss/util";

.AboutUs {
    display: block;
    height: 100%;
    width: 100%;

    .AboutMsg {
        @extend %vertical-align;

        .abt-title {
            font-size: 24px !important;
            line-height: 36px;
        }

        .abt-summary {
            font-size: 24px !important;
            line-height: 36px;
        }

        .abt-content {
            font-size: 16px !important;
            line-height: 28px;
        }
    }
}
