@import "../../../../scss/variables";

.Approach {
    &__bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 250px;
        min-height: 50vh;

        @media (min-width: 992px) {
            height: 100%;
        }
    }

    &__section {
        padding: 7% 12% 10%;

        @media (min-width: 992px) {
            padding: 9% 4%;
        }
    }
}
