@import "../../assets/scss/util";
@import "../../assets/scss/variable";

.News {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    max-width: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    &__nav {
        position: absolute;
        z-index: 100;
        width: 100%;
    }

    &__news-article {
        position: relative;
        scroll-snap-align: start;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }

    &__vlog {
        position: relative;
        scroll-snap-align: start;
    }

    &__white-paper {
        position: relative;
        scroll-snap-align: start;
    }

    &__blog {
        position: relative;
        scroll-snap-align: start;
    }
}
