@media (max-width: 600px) {
    .side_bar {
      display: none;
    }
}

.side_bar {
	list-style-type: none;
	position: fixed;
    left: 0;
	margin-top: -78px;
    top: 40%;
    transform: translateY(-50%);
	z-index: 100;
	margin: 0 0 8px;
    padding: 0;
}

.side_bar-item {
	cursor: pointer;
	margin: 0;
	position: relative;
	width: 60px;
	display: list-item;
    text-align: -webkit-match-parent;
}

.side_bar-tab {
	/* background-color: #ed134d; */
	opacity: .25;
	width: 1px;
	height: 29px;
	position: relative;
	transition: height .2s ease;
	margin: 5px 0 0 14px;
}

.side_bar-tab-active {
	/* background-color: #ed134d; */
	margin-left: 13px;
	opacity: 1;
	width: 3px;
	height: 29px;
	position: relative;
	transition: height .2s ease;
	margin: 5px 0 0 14px;
}

.side_bar-label-active  {
    animation: fadeout 2s ease .2s;
	/* color: #ed134d; */
	float: left;
	font-size: 10px;
	font-weight: 400;
    margin-top: 6px;
    text-decoration: none !important;
    left: 0;
    letter-spacing: .02em;
    margin-left: 24px;
    opacity: 1;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transition: opacity .1s ease;
    width: 300px;
}

.side_bar-label-hidden {
    animation: fadeout 3s ease .3s;
	/* color: #ed134d; */
	float: left;
	font-size: 10px;
	font-weight: 400;
	margin-top: 6px;
    left: 0;
    text-decoration: none !important;
    letter-spacing: .02em;
    margin-left: 24px;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transition: opacity .2s ease;
    width: 300px;
}
.side_bar-label-hidden:hover {
    animation: fadeout 2s ease .2s;
	/* color: #ed134d; */
	text-decoration: none !important;
	float: left;
	margin-top: 6px;
	font-size: 10px;
    font-weight: 400;
    left: 0;
    letter-spacing: .02em;
    margin-left: 24px;
    opacity: 1;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transition: opacity .1s ease;
    width: 300px;
}

