@import "../../../../scss/variables";

.OurSolution {
    min-height: 100vh;

    &__content {
        padding: 10% 8%;

        @media (min-width: 992px) {
            padding: 8% 5%;
        }
    }
}
