@import "../../../../scss/variables";

.Map {
    $root: &;
    width: 100%;
    height: 366px;
    padding: 26px 0 10px;

    &__container {
        position: relative;
        background-color: #ddd;
        width: 100%;
        height: 100%;
    }
}
