@import "../../../../scss/variables";

.ImpactSourcing {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 992px) {
        height: 100vh;
        flex-wrap: nowrap;
    }

    &__left {
        width: 100%;

        @media (min-width: 992px) {
            height: 100%;
            flex: 1;
            position: relative;
        }
    }

    &__bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;

        @media (min-width: 992px) {
            height: 73vh;
        }
    }


    &__info {
        background-color: #062E64;
        padding: 8% 6%;

        @media (min-width: 992px) {
            padding: 5% 4%;
            min-height: 27vh;
            position: absolute;
            bottom: 0;
        }
    }

    &__content {
        padding: 30px 18px 0;

        @media (min-width: 992px) {
            flex: 1;
            padding: 0 4%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}
