@import "../../../assets/scss/util";
@import "../../../assets/scss/variable";

.Blog {
    $root: &;
    position: relative;
    background: rgba(6, 46, 100, 0.8);
    height: 100vh;
    width: 100vw;

    &__heading {
        position: absolute;
        font-size: 16px;
        line-height: 19px;
        left: 18px;
        z-index: 100;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        top: 30px;

        @media (min-width: 992px) {
            top: 98px;
            left: 70px;
        }
    }

    &__container {
        overflow: hidden;
    }

    .Carousel__pagination {
        position: absolute;
        z-index: 100;
        right: 30px;
        top: 30px;

        @media (min-width: 992px) {
            top: 98px;
            right: 50px;
        }
    }

    &__list {
        position: relative;
        white-space: nowrap;
        list-style: none;
        padding: 0;
        width: 100%;
    }

    &__item {
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;

        @media (min-width: 992px) {
            width: 50%;
        }
    }

    &__item-container {
        padding: 38px 18px;
        z-index: 10;
        white-space: normal;
        position: relative;

        @media (min-width: 992px) {
            padding: 70px;
        }
    }

    &__row--0 {
        #{$root}__item-container {
            padding-top: 100px;

            @media (min-width: 992px) {
                padding-top: 191px;
            }
        }
    }

    &__bg-mask {
        background: rgba(6, 46, 100, 0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1;
    }

    &__title {
        font-size: 18px;
        line-height: 27px;
        color: #fff;
        margin-bottom: 10px;
        font-weight: 400;
    }

    &__summary {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 28px;
    }
}
