@import "../../../assets/scss/util";
@import "../../../assets/scss/variable";

.TalentPool {
    &__container {
        overflow: hidden;
        min-height: 50vh;
        margin-top: 20px;

        @media (min-width: 992px) {
            margin-top: -30px;
        }
    }

    &__list {
        position: relative;
        white-space: nowrap;
        list-style: none;
        padding: 0;
        width: 100%;
    }

    &__item {
        width: 50%;
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;

        @media (min-width: 768px) {
            width: 33.3%;
        }

        @media (min-width: 992px) {
            width: 20%;
        }
    }

    &__loader {
        height: 60vh;
    }

    &__empty-state {
        height: 60vh;
        display: flex;
        font-size: 16px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .Carousel__pagination {
        padding-right: 18px;

        @media (min-width: 992px) {
            padding-right: 70px;
        }
    }

    .Carousel__container {
        padding-top: 10px;
    }
}
