@import "../../assets/scss/util";
@import "../../assets/scss/variable";

.CaseStudies {
    background: linear-gradient(
            0deg,
            get-color("t-light-blue"),
            get-color("t-light-blue")
    ), no-repeat center;
    background-size: cover;
    position: relative;
    min-width: 100%;
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;

    @media screen and (min-width: 992px) {
        width: 100vh;
        min-height: 100vh;
    }

    .card-center {
        @extend %vertical-align;
    }

    .case-title {
        line-height: 17px;
    }

    .case-subtitle {
        font-size: 24px;
        line-height: 36px;
    }

    .case-summary {
        line-height: 24px;

        @media screen and (min-width: 992px) {
            width: 75%;
        }
    }

    .card-min-height {
        // min-height: 450px;
    }

    .case-content {
        padding: 30px 18px;

        @media screen and (min-width: 992px) {
            min-height: 100vh;
            margin-bottom: -60px;
        }

        @media (min-width: 768px) {
            padding: 50px 60px;
        }

        @media screen and (min-width: 992px) and (max-height: 900px) {
            margin-bottom: 0;
        }
    }

    &__body {
        overflow-x: hidden;
    }

    &__info {
        padding-bottom: 30px;
        border-bottom: 1px solid #D9E9FF;
        margin-bottom: 30px;
    }

    &__list {
        position: relative;
        white-space: nowrap;
        list-style: none;
        padding: 0;
        width: 100%;
    }

    &__item {
        width: 100%;
        display: inline-block;
        white-space: normal;
        position: relative;
    }

    &__content {
        width: 97%;
        padding-top: 200px;

        @media screen and (min-width: 992px) {
            width: 49%;
            padding-top: 0;
            position: absolute;
            bottom: 0;
        }

        @media screen and (min-width: 992px) and (max-height: 900px) {
            position: relative;
        }
    }

    .Carousel {
        position: relative;
    }

    .Carousel__pagination {
        margin-bottom: 20px;
        position: absolute;
        top: 4px;
        right: 0;
        z-index: 100;
        background-color: #fff;
    }
}
