@import "../../assets/scss/util";
@import "../../assets/scss/variable";

.CaseStudies {
    background: linear-gradient(
            0deg,
            get-color("t-light-blue"),
            get-color("t-light-blue")
    ), no-repeat center;
    background-size: cover;
    position: relative;
    min-width: 100%;
    height: 100vh;
    width: 100vh;
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;

    .k {
        margin-top: -7px;
    }

    .card-center {
        @extend %vertical-align;
    }
    .case-title {
        line-height: 17px;
    }
    .case-subtitle {
        font-size: 24px;
        line-height: 36px;
    }
    .case-summary {
        line-height: 24px;
    }
    .card-min-height {
        // min-height: 450px;
    }
    .case-top {
        padding-top: 97px;
    }
    .case-content {
        padding: 30px 18px;

        @media (min-width: 768px) {
            padding: 55px 60px;
        }
    }

    &__body {
        overflow-x: hidden;
        margin-top: -35px;
    }

    &__list {
        position: relative;
        white-space: nowrap;
        list-style: none;
        padding: 0;
        width: 100%;
    }

    &__item {
        width: 100%;
        display: inline-block;
        white-space: normal;
        position: relative;
    }
}
