@import "../../../../scss/variables";

.OurMission {
    &__logos {
        background-color: #062E64;
        padding: 15% 8%;

        @media (min-width: 992px) {
            padding: 13% 5%;
        }
    }

    &__logos-item {
        text-align: center;

        @media (max-width: 992px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &__content {
        padding: 15% 8%;

        @media (min-width: 992px) {
            padding: 13% 5%;
        }
    }

    &__logos-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__logo {
        max-width: 100px;

        @media (min-width: 992px) {
            max-width: 125px;
        }
    }
}
