@import "../../assets/scss/util";

.AboutUs {
    min-height: 100vh;
    scroll-snap-align: start;
    position: relative;
    .AboutMsg {
        @extend %vertical-align;
        padding: 31px 18px;

        @media (min-width: 992px) {
            padding: 50px 70px;
        }

        .abt-title {
            font-size: 17px !important;
            line-height: 29px;
        }

        .abt-summary {
            font-size: 24px !important;
            line-height: 36px;

            @media (min-width: 992px) {
                width: 85%;
            }
        }

        .abt-content {
            font-size: 16px !important;
            line-height: 28px;

            @media (min-width: 992px) {
                width: 85%;
            }
        }
    }

    &__feature {
        font-size: 16px;
        line-height: 24px;
    }
}
