@font-face {
    font-family: 'HK Grotesk';
    font-style: normal;
    src: url('./hk-grotesk/HKGrotesk-Regular.otf');
}

@font-face {
    font-family: 'HK Grotesk';
    font-weight: 300;
    src: url('./hk-grotesk/HKGrotesk-light.otf');
}

@font-face {
    font-family: 'HK Grotesk';
    font-weight: bold;
    src: url('./hk-grotesk/HKGrotesk-bold.otf');
}


@font-face {
    font-family: 'HK Grotesk';
    font-style: italic;
    src: url('./hk-grotesk/HKGrotesk-italic.otf');
}
