@import "../../../assets/scss/variable";

.UseCase {
    position: relative;
    width: 100%;

    &__img {
        height: 175px;
    }

    &__item {
        float: left;
        width: 100%;

        @media (min-width: 768px) {
            float: left;
            width: 48%;

            &--1 {
                float: right;
            }
        }
    }

    &__btn {
        border: 1px solid rgba(6, 46, 100, 0.25);
        padding: 4px 20px;
        border-radius: 0;
        color: #062E64;
    }
}
