@import "../../assets/scss/util";
.OurService {
    background: rgba(251, 234, 237, 0.2);
    padding-top: 8% !important;
    padding-bottom: 8% !important;

    .card-center {
        @extend %vertical-align;
    }
}
