@import "../../assets/scss/util";
@import "../../assets/scss/variable";

.OurService {
    // background: rgba(251, 234, 237, 0.2);
    // padding: 18px 31px;
    background: #fefbfb;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    position: relative;
    min-height: 100vh;

    @media (min-width: 992px) {
        padding: 92px 70px;
    }

    .header {
        @media (min-width: 992px) {
            margin-bottom: 30px;
            margin-top: -19px;
        }
    }

    .card-center {
        @extend %vertical-align;
    }

    &__container {
        // padding: 3.2% 0;
        overflow: hidden;
    }

    &__list {
        position: relative;
        white-space: nowrap;
        list-style: none;
        padding: 0;
        width: 100%;
        transition: left ease 0.4s, right ease 0.4s;
    }

    &__item {
        width: 100%;
        display: inline-block;
        white-space: normal;

        @media (min-width: 768px) {
            padding-right: 23px;
            width: 46%;
        }

        @media (min-width: 992px) {
            padding-right: 23px;
            width: 31%;
        }
    }

    &__detail {
        margin: 0 -2em;

        @media (min-width: 992px) {
            margin: 0 -4em;
        }
    }
}
