.Carousel {
    &__pagination {
        margin-bottom: 20px;
    }

    &__container {
        position: relative;
        transition: left ease 0.4s, right ease 0.4s;
    }

    &__prev {
        margin-right: 23.5px;
    }

    &__pagination {
        margin-top: -10px;
    }

    &__icon {
        // border: 2px solid;
        border-radius: 100%;
        box-shadow: 0 4px 25px rgba(218, 52, 81, 0.05);
        background-color: #fff;
        display: inline-block;
        padding: 10px 12px;

        &--transparent {
            border: 2px solid #ddd;
            background-color: transparent;
        }

        svg {
            line-height: 16px;
        }
    }
}

