@import "../../../../scss/variables";

.Info {
    $root: &;
    position: relative;
    top: -67px;
    z-index: 10;
    padding-right: 20px;
    text-align: center;

    @media (min-width: 992px) {
        top: -90px;
        text-align: left;
    }

    &__img {
        height: 134px;

        @media (min-width: 992px) {
            height: 180px;
        }
    }

    &__skills {
        padding: 0;
        list-style: none;
    }

    &__skill-item {
        width: 33.3%;
        padding-right: 14px;
        margin-bottom: 12px;
        float: left;
    }

    &__skill {
        background: rgba(6, 46, 100, 0.05);
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #062E64;
        padding: 10px 2px;
    }

    &__bio-box {
        position: relative;
    }

    &__bio-full {
        position: absolute;
        z-index: 100;
        background-color: #fff;
        width: 100%;
        border: 1px solid #fdf6f6;
        box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16), 0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08);
        padding: 15px;
        text-align: center;

        &--skill {
            bottom: 0;
        }

        @media (min-width: 992px) {
            width: 150%;
        }
    }

    &__bio-link {
        color: #DA3451 !important;
        margin-left: 3px;
    }
}
