@import "../../assets/scss/variable";
NavLink, RNavLink{
    font-size: 16px;
    line-height: 19px;
    font-weight: bold !important;
    color: get-color('white')
}
.Nav .navbar {
    box-shadow: none !important;
}
