@import "../../assets/scss/variable";
.BlogHeader {
    background: linear-gradient(
            0deg,
            get-color("t-light-blue"),
            get-color("t-light-blue")
        ),
        url("../../assets/img/maintenance.jpg") no-repeat center;
    background-size: cover;
    min-width: 100%;
    height: 500px !important;
    position: relative;

    .BlogHeader-Text {
        font-size: 30px;
        line-height: 42px;
        width: 50%;
        margin: 8.21% auto auto;
    }
    .BlogHeader-Text-P {
        font-size: 16px;
        width: 45%;
        line-height: 27px;
        margin: 10px auto auto;
        text-align: center;
    }
    .BlogHeader-button {
        min-width: 180px !important;
    }
}
