@import "../../assets/scss/variable";

.Header {
    background: linear-gradient(
            0deg,
            get-color("t-light-blue"),
            get-color("t-light-blue")
    ),
    url("../../assets/img/maintenance.jpg") no-repeat center;
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    // scroll-snap-align: start;

    .Header-Text {
        font-size: 24px;
        line-height: 36px;
        width: 90%;
        margin: 24% auto auto;
        font-weight: 500 !important;

        @media (max-width: 992px) and (max-height: 600px) {
            margin: -2% auto auto;
            width: 95%;
            line-height: 33px;
        }

        @media (min-width: 992px) {
            width: 45%;
            font-size: 32px;
            font-weight: bold;
            line-height: 42px;
            margin: 15.21% auto auto;
        }
    }

    .Header-Text-P {
        width: 87%;
        margin: 15px auto auto;
        text-align: center;
        font-size: 16px;
        line-height: 24px;

        @media (min-width: 992px) {
            font-size: 18px;
            line-height: 27px;
            width: 50%;
        }
    }

    .Header-button {
        min-width: 180px !important;
    }

    &__video-bg {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
